.header {
  composes: heading from '../typography.module.css';

  background: white;
  box-sizing: border-box;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-align: center;
  padding: 1.5rem;
  width: 100%;
}

.header a {
  text-decoration: none;
}

.nav ul {
  list-style-type: none;
  padding: 0.5rem 0 0 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  margin: 0 0.5rem;
}

.nav :global(a.current) {
  color: #7e2c2a;
  text-decoration: underline;
}

.homeLink {
  display: block;
  font-size: 2.5rem;
}

.rsvp a {
  background: black;
  color: white;
  padding: 0 0.25rem;
}

:global(body.root) .header {
  background: transparent;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

:global(body.root) .header a {
  color: white;
}

@media (min-width: 50em) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .nav {
    text-align: right;
  }

  .nav ul {
    padding: 0;
  }

  .nav li {
    margin: 0 0 0 1rem;
  }
}
