html {
  font-size: 100%;
  line-height: 1.5em;
}

html,
body {
  color: #333;
  height: 100%;
  margin: 0;
}

body {
  background: white;
  font-family: 'Libre Baskerville', Georgia, serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

h1,
h2,
dt {
  font-family: 'league-gothic', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

dt {
  font-size: 1.5rem;
  line-height: 2rem;
}

dd {
  margin: 0;
  padding: 0;
}

dd + dt {
  padding-top: 1.5rem;
}

a {
  color: #333;
}

body > div {
  height: 100%;
}

body.ceremony {
  background: #f9edc6;
}

body.party {
  background: #d7e4cd;
}

body.toastmasters {
  background: #f4e4e3;
}

body.info {
  background: #eeedeb;
}

body.contact {
  background: #d8d6e0;
}

body.root {
  background: url(./images/red-balloon-sunset-2x.jpg);
  background-color: #412f2c;
  background-size: cover;
}
